/bin
/obj
/src-attr/obj
/src/obj
/tests/00/bin
/tests/00/obj
tests/00/00.dll
tests/00/out.exe
tests/00/out.ll
tests/01/01.dll
tests/00/01.dll
/runtime/obj
/tests/02/bin
/tests/02/obj
/tests/03/bin
/tests/03/obj
/reference
tests/02/02.dll
tests/03/03.dll
tests/03/out.ll
